* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header{
    /* font-style: oblique;  */
    width: 100;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: brown;
}
nav {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transform: color0.3s,background-color 0.3s;
}
nav a:hover{
    color:white;
    background-color: brown;
    padding: 0.5rem;
    border-radius: 5px;
}
